/* Global */

/* <section class="extMenu10 menu cid-sooWFyn43Q" once="menu" id="extMenu11-1l"> */

/* <section class="content4 cid-sdQjI1ufdP" id="content4-0"> */

/* <section class="footer7 cid-sooWFAfKdL" once="footers" id="footer7-1n"> */
.cid-sooWFAfKdL{
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fafafa;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #cccccc;
  .container{
    
  }
}

.cid-sooWFAfKdL .container{
  height: 60px;
  max-width: 100%;
  /* padding: 0; */
  /* margin: 0; */
}

.cid-sooWFAfKdL .copyright {
  text-align: center;
  line-height: 60px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
}

@media (max-width: 576px) {
  /* Styles for screens smaller than 576px */
}
