/* Global */

/* <section class="extMenu10 menu cid-sooWFyn43Q" once="menu" id="extMenu11-1l"> */

/* <section class="content4 cid-sdQjI1ufdP" id="content4-0"> */

.cid-sdQjI1ufdP .content4 {
  flex:1;
}

/* <section class="footer7 cid-sooWFAfKdL" once="footers" id="footer7-1n"> */
.cid-sooWFAfKdL {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #cccccc;
}
.cid-sooWFAfKdL .media-container-row .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-sooWFAfKdL .footer7 {
  height: 60px;
  position: sticky;
  bottom: 0;
}
