/* Global */
body {
  font-family: Nunito;
  overflow-x: hidden;
}
.display-1 {
  font-family: "Nunito", sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc(2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc(1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc(1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc(1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc(1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}

.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}

.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}

/* <section class="extMenu10 menu cid-sooWFyn43Q" once="menu" id="extMenu11-1l"> */
.bottom-border {
  /* background-color: #fafafa; */
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}
.form-control:focus {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
form .d-flex {
  height: 48px;
}
/* form[role="search"] {
  height: 48px;
} */
[type="submit"] {
  flex-shrink: 0;
}

.firstRow {
  justify-content: space-between !important;
}
.secondRow {
  justify-content: flex-end !important;
}
.navTotal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end !important;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0;
  list-style: none;
  line-height: 0rem;
}
.navTotal p {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

/* <section class="content4 cid-sdQjI1ufdP" id="content4-0"> */
.cid-sdQjI1ufdP {
  padding-top: 8rem;
  padding-bottom: 6rem;
  height: 100vh;
  top: 21px;
  bottom: 21px;
  /* background-color: #eeeeee; */
}
/* .cid-sdQjI1ufdP .cotainer-fluid { */
/* height: 100%; */
/* } */
.cid-sdQjI1ufdP .nothing {
  font-family: Nunito;
  font-size: 6rem;
  text-align: center;
  margin: 6rem;
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  max-width: -moz-available;
  /* max-height: 75vh !important; */
}
.cid-sdQjI1ufdP .nothing p {
  margin: 0;
}
.cid-sdQjI1ufdP .blog {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: auto;
  padding: 2rem;
  /* height: 100%; */
}
.cid-sdQjI1ufdP .conteudo {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #dedede;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(204, 204, 204, 0.35);
  box-shadow: rgba(86, 119, 119, 0.68) 0 50px 110px -40px,
    rgba(0, 0, 0, 0.1) 0 5px 20px;
}
.cid-sdQjI1ufdP .conteudo .post-info {
  color: #666;
  font-size: 0.75rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.cid-sdQjI1ufdP .conteudo a {
  line-height: 1 !important;
  font-weight: bold !important;
  color: black;
  font-size: 1rem;
  transition: color 0.6s;
  word-break: break-word;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 5px;
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}

.cid-sdQjI1ufdP .post-date {
  font-size: 0.75rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
/* .cid-sdQjI1ufdP .post-hostname { */
/* font-size: 0.75rem; */
/* text-align: left; */
/* } */
.cid-sdQjI1ufdP .post-description {
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
/* .cid-sdQjI1ufdP .post-og-type { */
/* padding-top: 1rem; */
/* } */
.cid-sdQjI1ufdP .post-title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1rem;
  overflow: hidden;
  word-break: break-word;
}
.cid-sdQjI1ufdP img {
  border: 1px solid #dedede;
  border-radius: 5px;
  object-fit: cover;
  height: 150px;
  background-color: #cecece;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* <section class="footer7 cid-sooWFAfKdL" once="footers" id="footer7-1n"> */
.cid-sooWFAfKdL {
  height: fit-content;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  /* background-color: #fafafa; */
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #cccccc;
  background-color: rgb(255 255 255 / 0.3);
  backdrop-filter: blur(10px);
}
.cid-sooWFAfKdL .container {
  height: fit-content;
  max-width: 100%;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;}

.first-item {
  align-self: center;
}

.second-items {
  margin-left: 1rem;
}

.hover-link {
  position: relative;
}

.hover-link .hover-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hover-link:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.cid-sooWFAfKdL .copyright {
  text-align: center;
  padding: 1rem;
  line-height: 100%;
  word-wrap: break-word;
  margin: 0;
}

.cid-sooWFAfKdL .fab {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

/* --- responsive rules section --- */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap !!! */

@media (min-width: 576px) {
  /* Small devices (landscape phones, 576px and up) */
  .col-sm-6 {
    flex: 0 0 auto;
    width: 47%;
  }
}

@media (min-width: 768px) {
  /* Medium devices (tablets, 768px and up) */
  .col-md-6 {
    flex: 0 0 auto;
    width: 48%;
  }
}

@media (min-width: 992px) {
  /* Large devices (desktops, 992px and up) */
  .col-lg-4 {
    flex: 0 0 auto;
    width: 31.333%;
  }
  .navbar-expand-lg {
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  /* X-Large devices (large desktops, 1200px and up) */
  .col-xl-3 {
    flex: 0 0 auto;
    width: 32%;
  }
}

@media (min-width: 1400px) {
  /* XX-Large devices (larger desktops, 1400px and up) */
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 18.667%;
  }
}

/* `xs` returns only a ruleset and no media query */
/* ... { ... } */

@media (max-width: 575.98px) {
  /* `sm` applies to x-small devices (portrait phones, less than 576px) */
}

@media (max-width: 767.98px) {
  /* `md` applies to small devices (landscape phones, less than 768px) */
}

@media (max-width: 991.98px) {
  /* `lg` applies to medium devices (tablets, less than 992px) */
}

@media (max-width: 1199.98px) {
  /* `xl` applies to large devices (desktops, less than 1200px) */
}

@media (max-width: 1399.98px) {
  /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
}
